<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
  </head>

  <body>
    <div class="homepage-hero-module">
    <div class="video-container">
        <div class="filter"></div>
        <!-- <div class="site-wrapper">

          <div class="site-wrapper-inner">

            {% include footer.html %}
          </div>
        </div> -->
        <div class="title-container">
            <div class="headline">
              {{ content }}
            </div>
            <div class="inner social">
                <ul class="list-inline">
                  <li class="list-inline-item">
                    <a href="https://twitter.com/denteblu"><i class="fa fa-twitter" aria-hidden="true"></i> denteblu</a>
                  </li>
                  <li class="list-inline-item">
                    <a href="https://github.com/denteblu"><i class="fa fa-github" aria-hidden="true"></i> denteblu</a>
                  </li>
                  <li class="list-inline-item">
                    <a href="https://www.linkedin.com/in/paolo-vecchiocattivi-92a15458"><i class="fa fa-linkedin" aria-hidden="true"></i> paolovecchiocattivi</a>
                  </li>
                </ul>
            </div>
        </div>
        <video autoplay loop class="fillWidth">
          <source src="{{ site.url }}/assets/video/Love-Coding/MP4/Love-Coding.mp4" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
          <source src="{{ site.url }}/assets/video/Love-Coding/WEBM/Love-Coding.webm" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
        </video>
        <div class="poster hidden">
          <img src="{{ site.url }}/assets/video/Love-Coding/Snapshots/Love-Coding.jpg" alt="">
        </div>
    </div>
</div>

    {% include footer_scripts.html %}
  </body>
</html>
